header #topo h1 a {
	color: white;
	text-decoration: none;
}

header #topo h1 :hover {
	text-decoration: none;
	color: #0DB1FF;
}

#main-conteudo {
	width: 100%;
}

#main-conteudo img {
	width: 100%;
}